.dashboard {
  position: absolute;
  z-index: -100000;
  background-color: #f1f4f6;
}

.dashboardBody {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.dashboardHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0px 6px 20px #C2D9E0;
  z-index: 100000;
  height: 6vh;
}

.headerLogo {
  height: 100%;
  width: auto;
}

.headerNav {
  padding-right: 15px;
}

.logout {
  color: #e43949;
  cursor: pointer;
}

.dashboardSidebar {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  min-width: 50px;
  width: 4vw;
  box-shadow: 10px 0px 20px #e2e5e8;
  height: 94vh;
  background-color: #ffffff;
}

.sidebarIcon {
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.sidebarIcon:hover {
  background-color: #e2e5e8;
  box-shadow: -3px 3px 6px black inset;
  border-radius: 3px;
}

.activeSidebarIcon {
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1D2E5A;
  color: white;
  box-shadow: -3px 3px 6px black;
  border-radius: 5px;
}
