.dashboardNavDisplay {
  display: flex;
  flex-direction: row;
  width: 96vw;
  height: auto;
  background-color: #f9fafb;
  margin-bottom: 6vh;
}

.dashboardMainHeader {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.navLinkIcon {
  width: 96px;
  height: 96px;
  margin: 28px;
}

.dashboardMainBody {
  overflow-y: auto;
  width: 96vw;
  max-height: 77vh;
  height: auto;
  background-color: #eaf4f4;
  box-shadow: 0px -6px 20px #c5c7c9;
}

.dashboardFolderTab {
  position: absolute;
  z-index: 100;
  background-color: #91efdf;
  color: #ffffff;
  width: 222px;
  height: 50px;
  border-radius: 50px 50px 0px 0px;
  text-align: center;
  margin-top: -45px;
  margin-left: 5vw;
  box-shadow: -6px -3px 10px #c5c7c9, 6px -3px 10px #c5c7c9;
}

.dashboardMainBodyCharts {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dashboardMainBodyChart {
  width: 39vw;
  height: 19vw;
  margin: 2vw;
  background-color: #ffffff;
  box-shadow: 6px 6px 16px #c5c7c9;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.dashboardMainBodyTable {
  background-color: #ffffff;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  box-shadow: 6px 6px 16px #c5c7c9;
  margin-top: 3vh;
  margin-bottom: 6vh;
}

tr {
  height: 5vh;
}

td {
  width: 20%;
}

.skinnyCell {
  width: 15% !important;
}

.reviewCell {
  width: 100%;
  min-height: 5vh;
}

.table {
  margin-bottom: 0 !important;
}

.chartBox {
  width: 100%;
  text-align: center;
}

.doughnutChart {
  width: 100% !important;
  height: 69% !important;
  margin: 0 !important;
}

.barChart {
  height: 95% !important;
}

@media (max-width: 1000px) {
  .dashboardMainBodyCharts {
    flex-direction: column;
    align-items: center;
  }

  .dashboardMainBodyChart {
    height: auto;
    width: 65%;
  }
}
